.video_player_page {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 80px);

    .video_player_container {
        flex: 0.7;

        iframe {
            box-shadow: 0 10px 20px 0 rgba($color: #000000, $alpha: 0.4);
        }
    }

    .recommendations_container {
        flex: 0.3;
    }
}
