.feed_library {
    padding: 2rem 4rem;

    &_content {
        // justify-content: space-between;

        .video_item {
            flex: 1;
            max-width: 320px;
            margin-right: 2.5rem;

            &:last-child {
                margin: 0;
            }

            img {
                object-fit: cover;
            }
        }
    }
}
