@import '../../mixins.scss';

.player_page {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 80px);
    @include lg-tablet {
        flex-direction: column;
        padding: 2rem;
    }

    .player_container {
        flex: 0.7;
        @include lg-tablet {
            flex: 1;
        }
    }

    .playlist_container {
        height: 600px;
        max-height: 600px;
        overflow-y: auto;
    }

    .recommendations_container {
        flex: 0.3;

        h1 {
            line-height: 2rem;
        }

        @include lg-tablet {
            flex: 1;
            height: 200px;
            margin: 2rem 0 2rem 0;
        }
    }
}
